footer.footer
    section.seperator.border-top.border-bottom.border-1.py-3
        .container
            .row.justify-content-md-evenly
                .col-12.col-sm-6.col-md-auto.col-lg-auto.order-md-0
                    nav.bottom-nav.pb-3.p-md-0(aria-label="Bottom navigation")
                        ul.nav.flex-column.bottom-nav__list
                            each item in navigation
                                li.nav-item.bottom-nav__list-item
                                    a.nav-link.bottom-nav__link.text-uppercase(href="#/") 
                                        span.bottom-nav__link-text #{item.text}
                
                .col-12.col-sm-6.col-md-auto.col-lg-auto.order-md-2
                    .contacts
                        h5.contacts__title Контакты
                        each item in contacts
                            ul.contacts__list
                                li.contacts__list-item(title= item.title)
                                    i.contacts__icon
                                        svg.contacts__icon-svg(fill= item.color)
                                            use(xlink:href=sprite + item.icon)
                                    span.ps-2(class= item.id) #{item.text}
                
                .col-12.col-md-auto.col-lg-auto.order-2.order-md-1.order-lg-1
                    .social
                        ul.social__list.d-flex.flex-row.flex-md-column.justify-content-center.m-0
                            each item in social
                                li.social__list-item
                                    a.social__link(href="#/" title= item.title)
                                        i.social__icon.d-md-none
                                            svg.social__icon-svg(fill=item.color)
                                                use(xlink:href=sprite + item.icon)
                                        span.social__link-text.d-none.d-md-block #{item.text}

    section.copyright
        .container
            .row.align-items-center.justify-content-between
                .col-12.col-md-6
                    .copyright__logo.m-auto.ms-md-0
                        img.copyright__img(
                            src="img/svg/logo-desktop-left.svg"
                            alt="Copyright logo"
                        )
                .col-12.col-md-6
                    p.copyright__text.m-0.mt-3.text-center.text-md-end © Центр Веста 2021. Все права защищенны.
