header.header.position-sticky.shadow-sm.py-2
    .container
        .row.justify-content-between.align-items-center
            .trigger.d-lg-none.col-auto
                button.trigger__btn.border-0.p-0(
                    type="button"
                    aria-label="Toggle navigation"
                )
                    svg.trigger__icon
                        use(xlink:href=sprite + "#filter")

            .logo.d-none.d-lg-block.col-auto
                a.logo__link(href="#/") 
                    img.logo__img(
                        src="img/svg/logo-desktop-left.svg" 
                        alt="logo"
                    )
                
            .logo-mobile.d-lg-none.col-auto
                a.logo-mobile__link(href="#/") 
                    img.logo-mobile__img(
                        src="img/svg/logo-mobile.svg" 
                        alt="logo-mobile"
                    )

            nav.navigation.d-none.d-lg-block.col-auto(aria-label="Navigation menu")
                ul.nav.navigation__list
                    each item in navigation
                        li.nav-item.navigation__list-item
                            a.nav-link.navigation__link(href="#/") #{item.text}
